body{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 30px;
    font-size: 8px;

}
h2{
    color: blue;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
p{
    color: blue;
}

#count{
    font-size: 15px;
    margin: 5px 0;
    color: orange;    
} 
#increasebtn{
    background-color: greenyellow;
    color: blue;
    font-size: 10px;
    border: none;
    border-radius: 30%;
    margin: 5px;
}
#decreasebtn{
    background-color: red;
    color:blue;
    font-size: 10px;
    border: none;
    border-radius:30%;
    margin: 5px;
}
#resetbtn{
    background-color: bisque;
    color: blue;
    border: none;
    border-radius: 10%;
    margin-top: 10px;
}
#step{
    width: 35px;
    height: 18px;
    background-color: red;
    color: blue;
    font-size: 14px;
    text-align: center;
    border-radius: 8px;   
}
