body{
    font-family:Georgia, 'Times New Roman', Times, serif;
    padding: 20px;
    background-color:burlywood;   
}
input{
    width: 80%;
    padding: 4px;
    margin-bottom: 15px;
    font-size: 15px;
    border: 5px solid greenyellow;
    border-width: 8px;
    background-color: bisque;
    color: blue;
    
}
h1{
    text-align: center;
    color: aquamarine;
    text-transform: uppercase;
}
.result {
    background:whitesmoke;
    width: 90%;
    margin: 20px auto;
    padding: 20px;
    border-radius: 12px;
    border: 2px solid bisque;
}
.label{
    display: block;
    font-size: 25px;
    font-weight: bold;
    color: blue;
    margin-bottom: 13px;
    text-transform: uppercase;

}
.output{
    background-color: greenyellow;
    width: 95%;
    padding: 20px;
    color: violet;
    font-size: 30px;
    border-radius: 20px;
    border: 3px solid red;
    min-height: 40px;
}

